@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@layer base {
  body {
    font-family: "Be Vietnam Pro", sans-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero-gradient {
  background: linear-gradient(
    0deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(11, 11, 11, 0.7) 30%,
    rgba(11, 11, 11, 0) 100%
  );
}

.card-shadow {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.profile-dropdown {
  display: none;
}
.profile-container:hover .profile-dropdown {
  display: block;
}
